
/*Mobile*/

@media (max-width: 739px) {
	
	.s-full-width,
	.s-col-full{
		width: 100% !important; 
	}

	.header{
		overflow: hidden;
	}

	.header .menu-mobile-btn{
		display: block;
	}
	
	.header .search-btn{
		display: none;
	}

	#nav{
		display: block;
	}

	#nav >li {
		display: block;
	}

	#nav >li:first-child{
		display: inline-block;
	}

	#nav .subnav{
		position: initial;
		background-color: #333;
	}
	#nav .subnav a{
		color: #fff;
		padding: 5px 41px;
	}

	.form-contact{
		margin-top: 16px;
	}



}

 /*Tablet & Mobile*/
 @media (max-width: 1023px) {
 	
 	.button-buy.
 	.form-submit-btn{
 		padding: 15px 16px;
 	}

 	.text-box{
 		padding: 14px;
 	}
 	.footer a{
 		font-size: 48px;
 		margin: 0 8px;
 	}

 	.footer p a{
 		padding: 12px 0;
 		display: inline-block;
 	}

 	#nav .subnav a{
 		padding: 5px 16px;
	}
	.info-contact {
    	line-height: 2;
 	}
}